* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary-button: #1aaf58;
    --color-secondary-button: #278b51;
    --color-background-header: #e0e0e0;
    --color-background-field: #e0e0e0;
    --color-background-footer: #013a1d;
    --color-background-primary: #646464;
    --color-text-in-primary: #FFFFFF;
    font-size: 80%; /* controle das medidas rem */
}



.app {
    overflow: hidden;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: calc(1fr - 2rem);
    grid-template-rows: 8rem 2.5rem 1fr 6rem;

    grid-template-areas:
        "header"
        "menu"
        "content"
        "footer";
}

header.header {
    grid-area: header;
}

nav.nav {
    grid-area: menu;
}

main.body {
    grid-area: content;
}

footer.footer {
    grid-area: footer;

}
